

.bruinOppHead{
    text-align: left;
    font-size: 48px;
    font-style: medium;
    font-weight: 500;
}

/* .head2{
    font-size: 36px;
    font-style: medium;
    font-weight: 500;
}

.bodyy{
    font-size: 20px;
    font-style: medium;
    font-weight: 500;
} */

.frame1{
    display: flex;
    align-items: stretch;
}

.frame1__media{
    flex: 0 0 42%;
}

.section__content{
    flex: 1;
    display: flex;
    flex-direction: column;
    font-style: medium;
    font-weight: 500;
}

.basicButton{
    background-color: #B7B7B7;
    font-size: 24px;
    border-radius: 20px;
    width: fit-content;
    height: fit-content;
}